{% extends 'base.html' %} {% load static prev_post next_post %} 
{% block title %}{{ article.title }}{% endblock %} {% block extra_css %}

<style>
    div.summary a,
    button {
        color: blue;
        outline: medium none;
    }
    div.summary img{
        width: 100% !important;
    }
</style>
{% endblock %} {% block content %}
<main>
    <div class="about-area">
        <div class="container">
            <section class="blog_area single-post-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 posts-list">
                            <div class="single-post">
                                <div class="feature-img">
                                    <img class="img-fluid" src="{{ article.banner_image.url }}" alt="" />
                                </div>
                                <div class="blog_details">
                                    <h2>{{ article.title }}</h2>
                                    <ul class="blog-info-link mt-3 mb-4">
                                        <li>
                                            <a href="#"><i class="fa fa-user"></i> {{ article.tags.all|join:" , " }}</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-comments"></i>
                                                <span class="comment-counter">{{ article.comments.count|default:"0" }}</span>
                                                Comments</a>
                                        </li>
                                    </ul>
                                    <div class="summary">
                                        {% autoescape on %} {{ article.body|safe }} {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                            <div class="navigation-top">
                                <div class="d-sm-flex justify-content-between text-center">
                                    <p class="like-info">
                                        <span class="align-middle"><i class="fa fa-heart"></i></span>
                                        Lily and 4 people like this
                                    </p>
                                    <div class="col-sm-4 text-center my-2 my-sm-0">
                                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                                    </div>
                                    <ul class="social-icons">
                                        <li>
                                            <a
                                                href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}"><i
                                                    class="fab fa-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="navigation-area">
                                    <div class="row">
                                        {% prev_post article.id %}

                                        {% next_post article.id %}
                                    </div>
                                </div>
                            </div>
                            <div class="blog-author">
                                <div class="media align-items-center">
                                    <img src="{% static 'assets/img/blog/author.png' %}" alt="" />
                                    <div class="media-body">
                                        <a href="#">
                                            <h4>{{ article.author.username }}</h4>
                                        </a>
                                        <p>
                                            Second divided from form fish beast made. Every of seas
                                            all gathered use saying you're, he our dominion twon
                                            Second divided from
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-area">
                                <h4>
                                    <span class="comment-counter">{{ article.comments.count|default:"0" }}
                                    </span>
                                    Comments
                                </h4>
                                <div class="comment-form">
                                    <h4>Leave a Reply</h4>
                                    <form class="form-contact comment_form"
                                        action="{% url 'new_comment' article.slug %}" id="commentForm" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <textarea class="form-control w-100" name="comment" id="comment"
                                                        cols="30" rows="3" placeholder="Write Comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <button type="submit"
                                                        class="button button-contactForm btn_1 boxed-btn">
                                                        Send
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% for comment in article.comments.all %}
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="{% static 'assets/img/comment/comment_1.png' %}" alt="" />
                                            </div>
                                            <div class="desc">
                                                <p class="comment">{{ comment.comment }}</p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            <a href="#">{{ comment.author.username }}</a>
                                                        </h5>
                                                        <p class="date">
                                                            {{ comment.date|date:"F j, Y" }} at {{ comment.date|date:"g:i a" }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget search_widget">
                                    <form action="{% url 'article_list' %}" method="get">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Search Keyword"
                                                    onfocus="this.placeholder = ''"
                                                    onblur="this.placeholder = 'Search Keyword'" name="q" />
                                                <div class="input-group-append">
                                                    <button class="btns" type="button">
                                                        <i class="ti-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">
                                            Search
                                        </button>
                                    </form>
                                </aside>
                                <aside class="single_sidebar_widget post_category_widget">
                                    <h4 class="widget_title">Category</h4>
                                    <ul class="list cat-list">
                                        {% for tag in tags|slice:":5" %}
                                        <li>
                                            <a href="#" class="d-flex">
                                                <p>{{ tag|capfirst }}</p>
                                                <p>&nbsp; ({{ tag.taggit_taggeditem_items.count }})</p>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                                <aside class="single_sidebar_widget popular_post_widget">
                                    <h3 class="widget_title">Recent Post</h3>
                                    {% for recent_article in recent_articles %}
                                    <div class="media post_item">
                                        <img src="{{ recent_article.banner_image.url }}" alt="post" width="60px" />
                                        <div class="media-body">
                                            <a href="{% url 'article_detail' recent_article.slug %}">
                                                <h3>{{ recent_article.title|truncatechars:"20" }}</h3>
                                            </a>
                                            <p>{{ recent_article.date|date:"F d, Y" }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </aside>
                                <aside class="single_sidebar_widget tag_cloud_widget">
                                    <h4 class="widget_title">Tag Clouds</h4>
                                    <ul class="list">
                                        {% for tag in tags %}
                                        <li>
                                            <a href="#">{{ tag|capfirst }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                                <aside class="single_sidebar_widget instagram_feeds">
                                    <h4 class="widget_title">Instagram Feeds</h4>
                                    <ul class="instagram_row flex-wrap">
                                        <li>
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}"
                                                    alt="" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}"
                                                    alt="" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}"
                                                    alt="" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}"
                                                    alt="" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}"
                                                    alt="" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}"
                                                    alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </aside>
                                <aside class="single_sidebar_widget newsletter_widget">
                                    <h4 class="widget_title">Newsletter</h4>
                                    <form action="#">
                                        <div class="form-group">
                                            <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Enter email'" placeholder="Enter email"
                                                required />
                                        </div>
                                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">
                                            Subscribe
                                        </button>
                                    </form>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

{% endblock content %} {% block extra_js %}

<script>
    $(document).ready(function () {
        (function ($) {
            "use strict";

            jQuery.validator.addMethod(
                "answercheck",
                function (value, element) {
                    return this.optional(element) || /^\bcat\b$/.test(value);
                },
                "type the correct answer -_-"
            );

            $(function () {
                $("#commentForm").validate({
                    rules: {
                        message: {
                            required: true,
                            minlength: 20,
                        },
                    },
                    messages: {
                        message: {
                            required: "um...yea, you have to write something to comment .",
                            minlength: "thats all? really?",
                        },
                    },
                    submitHandler: function (form) {
                        $.ajaxSetup({
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader(
                                    "X-CSRFToken",
                                    $('input[name="csrfmiddlewaretoken"]').val()
                                );
                            },
                        });
                        $(form).ajaxSubmit({
                            type: "POST",
                            data: $(form),
                            url: $(form).attr("action"),
                            success: function (response) {
                                var new_comment = `
                <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="{% static 'assets/img/comment/comment_1.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                ${response.comment}
                                </p>
                                <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h5>
                                        <a href="#">${response.author}</a>
                                    </h5>
                                    <p class="date">${response.datetime}</p>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    `;
                                $(new_comment).insertAfter("div.comment-form");
                                $("span.comment-counter").html(response.counter);

                                $("textarea#comment").val("");
                            },
                            error: function (response) {
                                alert(response.responseJSON.error);
                            },
                        });
                    },
                });
            });
        })(jQuery);
    });
</script>

{% endblock %} {% comment %}

<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>
<p>
    <a href="{% url 'article_edit' article.pk %}">Edit</a> |
    <a href="{% url 'article_delete' article.pk %}">Delete</a>
</p>
<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>

{% endcomment %}