{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card mx-auto my-5 w-100  w-md-50 border-0 bg-transparent">
                    <div class="card-header bg-transparent border-0">
                        <div class="row justify-content-center text-center">
                            <div class="col">
                                <h2 class="card-title fw-bolder  display-6">Change Password</h2>  
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="row g-3 needs-validation" novalidate  action="{% url 'change_password' %}" method="POST" id="change_password_form">
                            {% csrf_token %}
                            {% include 'errors.html' %}
                        <div class="form-group">
                            
                            <input type="password" name="old_password" autofocus required id="id_old_password"  class="form-control bg-transparent mb-3"  placeholder="Old password">
                            <div class="invalid-feedback">
                                Please enter old password.
                              </div>
                        </div>
                        <div class="form-group">
                            
                            <input type="password" name="new_password1" required id="id_new_password1"  class="form-control bg-transparent"  placeholder="New password" >
                            <div class="invalid-feedback">
                                Please enter new password.
                              </div>
                              {% include 'password_conditions.html' %}
                        </div>
                        <div class="form-group">
                            
                            <input type="password" name="new_password2" required id="id_new_password2"  class="form-control bg-transparent"  placeholder="Confirm password">
                            <div class="invalid-feedback">
                                Please confirm new password.
                              </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-center text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary  w-50  has-spinner" value="Change Password" >Change Password</button>
                            </div>
                        </div>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block extra_js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})();
</script>
{% endblock %}