{% extends 'base.html' %}
{% load static %}
{% block tilte %}Password Reset{% endblock %}
{% block content %}


<div class="container">
    <div class="row ">
      <div class="col">
        <div class="card mx-auto my-5 w-100  w-md-50 border-0 bg-transparent" >
          <div class="card-header bg-transparent border-0 ">
            <div class="row justify-content-center text-center">
                <div class="col">
                    
                    <h2 class="card-title fw-bolder  display-6">Reset Password Instructions</h2>  
                </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}