{% extends 'base.html' %}
{% load static %}
{% block title %}Password reset done{% endblock %}
{% block content %}  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card mx-auto my-5 w-100  w-md-50 border-0 bg-transparent" >
          <div class="card-header bg-transparent border-0">
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h2 class="card-title fw-bolder  display-6 mb-1">Password reset done!</h2>  
                </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-center">Your password has been set.  You may go ahead and log in now.</p>
            <div class="row justify-content-center text-center">
              <div class="col">
                <a href="{% url 'user-login' %}" class="btn btn-primary w-50">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}