{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card mx-auto my-5 w-100  w-md-50 border-0 bg-transparent" >
          <div class="card-header bg-transparent border-0">
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h2 class="card-title fw-bolder display-6">Forgot your password?</h2>  
                </div>
            </div>
          </div>
          <div class="card-body">
            <form action="{% url 'password_reset' %}" method="POST" class="needs-validation" novalidate id="password_reset_form">
                {% csrf_token %}
                <div class="form-group mb-3">
                    
                    <input type="email" name="email" maxlength="50" required id="id_email" class="form-control bg-transparent"  placeholder="Email" autocomplete="off" autofocus="on" tabindex="1">
                    <div class="invalid-feedback">
                      Please enter a valid email address.
                    </div>
                  </div>
                <div class="form-group mt-4 mb-3">
                    <div class="row justify-content-center text-center">
                      <div class="col">
                        <button type="submit" class="btn btn-success  w-75  has-spinner" value="Send e-mail" id="password_reset_btn" tabindex="2">  
                          Send me reset password instructions
                        </button>
                      </div>
                    </div>
                </div>
                <div class="mt-0 mb-3">
                  <div class="row justify-content-center text-center">
                      <div class="col">
                        <a href="{%  url  'user-login' %}" target="_self" class="card-link text-watercourse text-decoration-none" tabindex="3">Back To Sign In</a>
                      </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block extra_js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})();
</script>
{% endblock %}