{% load static %}
<!DOCTYPE html>

<html lang="en" >
<head>
    

<title>
    {% block title %}
    AYZ News
    {% endblock %}
</title> 


{% block meta_tags %}
{% endblock %}

{% block style %}
{% include 'style.html' %}
{% endblock %}

{% block extra_css %}

{% endblock %}


</head>
<body >

     <!-- Preloader Start -->
     <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    {% include 'notification.html' %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}


{% block script %}
    {% include 'script.html' %}
{% endblock %}

{% block extra_js %}
{% endblock %}

</body>
</html>